* {
  margin: 0px;
  background-color: rgb(235, 224, 206);
  color: rgb(100, 2, 2);
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.header .headline {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.header .picture {
  width: 660px;
  height: auto;
  border-radius: 15px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  margin: 0px 15px;
  align-items: center;
  justify-content: center;
}
.flexbox img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  cursor: pointer;
}
.flexbox a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
}
